@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'CustomFont';
    src: url('./FranciBTRIAL-Bold-BF65728e860a0cd.otf') format('truetype');
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'CustomFont', sans-serif;
    /* font-family: "Poppins", sans-serif; */
    color: aliceblue;
}
*::selection{
    color: #0f0d0d;
    background-color: aliceblue;
    -webkit-text-fill-color: #0f0d0d;
}
html{
    scroll-behavior:smooth;
}

body{
    height: 100%;
    width: 100%;
    user-select: none;
    background-color: #0f0d0d;
}
p,h3{
    font-family: "Poppins", sans-serif;
}

.main{
    /* background-color: #0f0d0d; */
    position:absolute;
    width: 100%;
    z-index: 3;
}
/* ---------------page1--------------- */
.page1{
    height: auto;
    width: 100%;
    padding-top:1%;
    font-family: "CustomFont", sans-serif !important;
}


#nav{
    user-select: none;
    z-index: 5;
    /* top: 0; */
    bottom: 10px;
    position: fixed;
    height: 3.5rem;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #00000075;
    backdrop-filter: blur(5.5px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
}
.selected {
    /* border-bottom: 2px solid #fff; */
    animation: move-up-down 0.5s ease forwards; 
}

  @keyframes move-up-down {
    0%, 100% {
      transform: translateY(0); /* Start and end position */
    }
    50% {
        transform: scale(15) translateY(-40vh);
        transform: translateY(-40vh) scale(15);
      /* transform: translateY(-60vh); Middle position - move up */
    }
  }
/* ends hre */
#nav img{
    display: none;
    height: 1.3vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* gap: 30px; */
}


#nav #circle{
    display: none;
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50%;
    background-color: aliceblue;
}

#nav a{
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
/*#heading, .page1, .main {
  overflow: visible;
}*/
#heading{
    /* margin-top: 13%; */
    margin-bottom:10%;
    margin-top: 10%;
    margin-left: auto;
    text-align: center;
    
}

#heading h1{
    color: aliceblue;
    line-height: 0.9;
   font-size: 11vw;
    text-transform: uppercase;
    font-weight: 700;
  /*    font-size: clamp(2rem, 5vw, 6rem);*/
  white-space: normal;
  
}
#heading h1:nth-child(1){
    letter-spacing: 0.18em;
}

#heading h5{
    color: rgb(140, 141, 143);
    font-style: italic;
    line-height:2;
    font-size: 1.7vw;
    font-weight: 100;

}
#heading #secondh1{
    color: transparent;
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: aliceblue;
}

/*----------------- button ---------------*/
.button {
    margin-top: 1vw;
    align-items: center;
    background-color:transparent;
    border: 2px solid aliceblue;
    box-sizing: border-box;
    color: aliceblue;
    cursor: pointer;
    display: inline-flex;
    fill: aliceblue;
    font-size: 16px;
    font-weight: 600;
    height:3.6vw;
    justify-content: center;
    letter-spacing: 2px;
    line-height: 24px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    transition:all 0.8s ease;
  }
  .button:hover{
    background-position: left;
    color: #0f0d0d;
    fill: #0f0d0d;
    box-shadow: inset 150px 0 0 0 aliceblue;

  }
  
  .button:active {
    background-color: aliceblue;
    color: #0f0d0d;
    fill: #0f0d0d;
  }


/* -------------- BLOB design ----------------- */

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
    /* scale: 0.5 1; */
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 29vmax;
  z-index:-99;
  aspect-ratio:1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, #0072ff, #00c6ff, #00ff85, #00fffb, rgb(0, 198, 212));
  animation: rotate 20s infinite;
  opacity: 1;
  filter: blur(180px);
}
/* #blur {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -98;
    backdrop-filter: blur(12vmax);
  } */
/* ---------------------------- */

.container{
    padding: 10px 10%;
}
span.blue,.gradient{
  /* outline: none; */
  background: linear-gradient(45deg, #0072ff, #00c6ff, #00ff85, #00fffb, rgb(0, 198, 212));
  background-size: 200% 100%;
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-size: 200% 200%;
  animation: gradientMove 5s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dots{
    background-image: radial-gradient(circle, #ffffff 1px, transparent 1px)!important;
    background-size: 30px 30px!important;
}

.sub-heading{
    color: rgb(140, 141, 143);
    font-style: italic;
    line-height:2;
    font-size: 1.7vw;
    font-weight: 100;
    text-align: center;
}
/* -----about section----- */

#about{
    padding: 80px 0;
    position: relative;
    color: #ababab;
}
#about p{
    font-size: 1.5vw;
}
#about .sub-title{
    text-align: left;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.about-col-2{
    flex-basis: 60%;
    padding-top: 5%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
}

/* ----------skills------- */


.tab-titles{
    display: flex;
    justify-content: center;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    border: 2px solid;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease 0s;
    border-radius: 11px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.tab-contents ul {
    list-style: none;
}

.tab-contents ul li::before {
    content: '\F2c6';
    content: '\F351';
    font-family: 'bootstrap-icons';
    margin-right: 10px;
    font-size: 2.5vw;
}

.tab-links.active-link{
    background-color: aliceblue;
    color: #0f0d0d;
}

.tab-contents ul li{
    margin: 10px 0;

}
.tab-contents ul li span{
    color: rgba(0, 170, 255, 0.676);
    font-size: 3vw;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

#skillrow{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2rem;
    margin-top: -30px;
}
.edit{
    filter: contrast(1.06);
    height: 37vw;
    position: relative;
}


/* ...........Timeline section.......... */
#timeline{
    margin-top: 8vw;
    padding-bottom: 10vw;
    overflow-x: hidden;
}

#timeline>.container1{
    margin-left:5% ;
}
#timeline>.container1>.row{
    display: flex;
}
#timeline>.container1>.row>.col{
    flex-basis: 50%;
}
.col .title{
    color: aqua ;
    padding: 0px 0px 20px 30px;
}
.col .contents{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}
.col .contents .box{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #00000064;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    border-radius: 11px;

}
.col .contents .box:hover{
    border: 1px solid transparent;
}
.col .contents .box::before{
    content: '';
    position: absolute;
    width: 0;
	height: 0;
	border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    border-left: 25px solid #bababa;
    border-bottom: 16px solid transparent;
    right: calc(100% + 7.4px);
    top:0;
}

/* -----------------project section------------ */
#projects{
    padding: 50px 0;
}
#projects .sub-title{
    text-align: center;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    max-width: 400px;
    max-height: 500px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: rgb(18, 234, 220) 3px solid;
    transform-style: preserve-3d; /* tiltjs */
    transform: perspective(1000px);  /* tiltjs */
}
.work img{
    width: 100%;
    height:425px;
    object-fit: cover;
    border-radius: 10px;
    display:block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(to bottom, #0666db,#00a271);
    background:linear-gradient(to bottom, #000000a1,#000000);
    position: absolute; 
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    padding: 0 5px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    transform-style: preserve-3d; /* tiltjs */
    transform: perspective(1000px);  /* tiltjs */
}
.layer h3{
    color: #0f0d0d;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(18, 234, 220), 0 0 20px rgb(18, 234, 220), 0 0 25px rgb(18, 234, 220), 0 0 30px #0073e6, 0 0 35px #0073e6;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    
}
.layer p{
    font-size: 20px;
    margin-bottom: 10px;
}
.layer .links{
    display: flex;
    justify-content: space-around;
}
/* ------------------ */
.links{
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    align-items: start;
}
.links a{
    margin:50px 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #212121;
    width:60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.2s ease-out;
}
#about .links>a:hover{
    border: 3.5px solid rgb(18, 234, 220);
    transform: scale(1.3);

}
/* -------------------- */


.layer .links a{
    margin:0 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #0f0d0d;
    width:60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    transform: translateZ(30px); /*tilt.js*/
    border: 3.5px solid rgb(18, 234, 220);
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.mobile-list{
    display: none;
}



/* ---------------------contact section--------------- */
#contact{
    padding: 50px 0;
    border-bottom: 2px solid #6c6c6c;
    user-select: text;
}
#contact h2{
    text-align: center;
    font-size: 50px;
}
#contact h3{
    padding: 15px;
    border-radius: 6px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

#contact h3 i{
    color: #0c0c0c;
}
.row form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 1px solid rgb(18, 234, 220);
    outline: none;
    background: #0c0c0c;
    padding: 15px;
    margin: 0.7rem 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}


/* -----------------footer-------------------- */
#footer{
    padding-top: 5vw;
    padding-bottom: 3vw;
    width: 100%;
    line-height: 2;
    text-align:center;
    background: black;
}
#footer ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin: 20px;
    margin-top: 4vw;  
}
#visit{
    font-size: 7vw;
}
.visitContainer{
    font-size: large;
    line-height: 1;
}
#footer ul li{
    font-weight: 600;
    list-style: none;
    font-size: 20px;
    color: #bababa;

}
#footer ul li:hover{
    color: aliceblue;
}
#footer ul li a{
    text-decoration: none;
    color: inherit;
}
#footer i, #footer p{
    color: #bababa;
}

/* Responsive design */
@media (max-width: 768px) {


    #nav img{
        height: 3.9vw;
    }
    #nav #circle{
        height:4vw ;
        width:4vw ;
    }
    /* #nav-part2{
        display: none;
    } */

    #heading{
        margin-top:30vw;
    }
    .sub-heading{
        font-size: 4vw;
    }
    #heading h1{
        font-size: 20vw;
        font-weight: 600;
    }
    #heading h1:nth-child(1){
        letter-spacing:normal;
    }
    #heading h5{
        margin-top: 1vw;
        font-size: 3vw;
    }
    @keyframes rotate {
        50% {
          scale: 0.5 1;
        }
      }
      #blob{
        top:40%
      }
    .button{
        margin-top: 1vw;
        height: auto;
    }
    /* -----about section---- */
    .about-col-2, #about .sub-title {
        text-align: center;
    }
    .about-col-2 .links{
        justify-content: center;
    }
    .row{
        flex-direction: column;
    }
    .about-col-1 img:hover{
        box-shadow: none;
        -webkit-box-shadow:none;
        -moz-box-shadow: none;
    }
    #about p{
        font-size:unset;
    }

    /* -----skills---- */
    .tab-links{
        font-size: 5vw;
        margin: 2vw;
        /* border:none; */
    }
    .edit{
        display: none;
    }
    .tab-contents ul li span{
        font-size: 5vw;
    }
    .tab-contents ul li::before {
        font-size: 5vw;
    }
    /* ----------contact------ */
    #contact h3{
        font-size: 1rem;
    }
    /*----------footer -----------*/
    #visit{
        font-size: 20vw;
    }
    .visitContainer{
        line-height: 1.1;
    }
    .cursor-follower{
        display: none;
    }
}
/* ---------------------Loader------------------ */

#loader{
    height: 100%;
    width: 100%;
    background-color: #0000009b;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(50px);
}

#loader h1{
    font-size: 6vw;
    color: transparent;
    background:  linear-gradient(to right, #0072ff, #00c6ff, #00ff85, #00fffb, rgb(0, 198, 212));
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 0.7s;
    animation-delay: 0.7s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 1.4s;
}
#loader h1:nth-child(3){
    animation-delay: 2.1s;
}
#loader h1:nth-child(4){
    animation-delay: 2.8s;
}
#loader h1:nth-child(5){
    animation-delay: 3.5s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 11vw;
      
    }
}

/* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; /* color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3cffc5; /* color of the scrollbar */
  }

  /* footer image counter---------------------------------- */
  #footer img{
    margin: 2vw;
    width: 150px;
  }
  #footer{
    padding-bottom:10vh;
  }
  
  /* ------------blur & hover effect----------------

/* Remove the previous hover effects on container1 */
#timeline .container1:hover > * {
    filter: none;
}

/* Set up transitions for smooth effects */
#timeline .container1 .box {
    transition: all 0.3s ease;
}

/* Create a parent hover state that doesn't affect anything */
#timeline .container1 .contents:hover .box {
    filter: blur(3px);
}

/* When hovering over a specific box, remove its blur and add effects */
#timeline .container1 .contents .box:hover {
    filter: blur(0px);
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(33, 33, 33, 0.333);
}


.cursor-follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.2s ease, height 0.2s ease;
    z-index: 9999;
    transform: translate(-50%, -50%);
  }
  
  
  .cursor-follower.expand {
    width: 50px;
    height: 50px;
  }

.cursor-follower.shirnk{
    width: 1px;
    height: 1px;
}
